language: python
os:
  - linux
dist: xenial
addons:
  apt:
    packages:
      - language-pack-it
      - locales
services:
  - mongodb
  - memcached
  - redis-server
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8-dev"
install:
    - pip install -e .[testsuite]
script:
    - pytest -vv
