name: Run Tests
on: [push, pull_request]
jobs:
  build:
    name: Run tests
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2
      - name: Install locales
        run: sudo apt-get install -y locales language-pack-it
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U --upgrade-strategy=eager --pre -e .[testsuite]
      - name: Start memcached
        uses: niden/actions-memcached@v7
      - name: Start Redis
        uses: supercharge/redis-github-action@1.4.0
      - name: Start MongoDB
        uses: supercharge/mongodb-github-action@1.8.0
      - uses: vishnudxb/redis-cluster@1.0.9
        with:
          master1-port: 5000
          master2-port: 5001
          master3-port: 5002
          slave1-port: 5003
          slave2-port: 5004
          slave3-port: 5005
          sleep-duration: 5
      - name: Test with pytest
        run: |
          pytest -vv
